body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fafb;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}
@media print {
  .no-print, nav, button {
    display: none !important;
  }
  #printable-receipt {
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  body {
    background: white;
  }
}
